:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --text-2-color: #ccc;
    --primary-color: rgb(238, 75, 43);
    --boder-color: #dbdbdb;

    --header-height:120px;
    --navbar-height: 32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* responsive */
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2 {
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4 {
    width: 20%;
    padding: 0 5px;
}

.grid__column-10 {
    width: 83.3334%;
    padding-left: 5px;
    padding-right: 5px;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        opacity: 0;
        transform:scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: grow linear 0.1s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    position: relative;
    z-index: 1;
}

/* button */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    background-color: transparent;
    color: var(--text-color);
    padding: 0;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: default;
    color: #949494;
    background-color: #c3c3c3;
}

/* selection-input */
.select-input {
    position: relative;
    height: 34px;
    min-width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select-input:hover .select-input__list {
    display: block;
}
.select-input__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding-left: 0;
    padding: 10px 0;
    list-style-type: none;
    animation: fadeIn ease-in 0.2s;
}

.select-input__list::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top:-2px;
    left: 0;
}

.select-input-link {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.select-input-link:hover {
    color: var(--primary-color);
}

/* pagination */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.pagination-item {
    list-style-type: none;
    margin: 0 12px;
}

.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item__link {
    display: block;
    min-width: 40px;
    height: 30px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagination-item__link:hover {
    opacity: 0.7;
}

.pagination-item--active .pagination-item__link {
    opacity: unset;
    cursor: default;
}

.pagination-item__icon {
    font-size: 1.4rem;
    position: relative;
    top: -2px;
}
